---
// ArchSlider.astro

// 1. Define the TypeScript interface for our props
export interface Props {
  cards?: string[];
}
---
<div class="slider-container">
    <div class="slider-viewport" >
        <div class="slider-wrapper">
            <div class="slider-circle">

            </div>
        </div>
    </div>
</div>


<style>

    .slider-container {
        width: 70vw;
        border: 10px solid purple;
        background-color: transparent;
    }

    .slider-viewport {
        position: relative;
        overflow: visible; /* Later hidden */
        width: 100%;
        height: 250px; 
        
        background-color: red;

        /* Center objects */
        display: flex;
        justify-content: center;

    }

    .slider-wrapper {
        --circle-size: 30vw;
        width: var(--circle-size);
        height: var(--circle-size);

        position: relative;

        overflow: visible;
        background-color: rgba(0, 0, 255, 0.528);
    }

    .slider-circle {
        width: 100%;
        height: 100%;
        border-radius: 50%;

        /* Remove the solid background color */
        background-color: rgba(128, 128, 128, 0.598);
        border-top: 4px solid #e0e0e0; 
    }

</style>