---
// ToolCard.astro
import type { SoftwareTool } from '../../objects/SoftwareTool';
import CardA from '../../assets/icons/AS_CardA.svg';
import CardB from '../../assets/icons/AS_CardB.svg';

interface Props {
    tool: SoftwareTool;
    index?: number;
}

const { tool, index = 0 } = Astro.props;



const hasContent = false;
const cardIcon = index % 2 !== 0 ? CardA : CardB;

---


<div class="tool-card" data-path={tool.pagesPath}>
    <div class="icon-wrapper">
        { hasContent && (
            <div>
                <a>{tool.pagesPath}</a>
            </div>
            )
        }
        { !hasContent && (
            <div>
                <img src={cardIcon.src} alt="" />
            </div>
            )
        }
    </div>
</div>


<style>
    .tool-card img {
        width: 100%;
        height: auto;
        display: block;
        max-width: 100%;
    }

    .tool-card {
        overflow: visible;
        

    }



</style>