---




const hasContent = false;
---


<div class="tool-card">
    <div class="icon-wrapper">
        { hasContent && (
            <div>
                
            </div>
            )
        }
    </div>
</div>