


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(calc(var(--bounce-height, 10px) * -1));
    }

    60% {
        transform: translateY(calc(var(--bounce-height, 10px) * -0.5));
    }
}


@keyframes revealOpacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}