/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import './fonts.css';


:root {
	--color-primary: #c65381;
	--color-primary-fade: #51344bfc;
	--color-primary-glow: #ff7ec7;
	
	--accent: #D77583;
	--accent-light: #B06077;
	--accent-dark: #702657;
	--black: #161A20;
	--gray: #24292E;
	--gray-light: #9ea7b3;
	--gray-dark: #262124;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);


	--astro-code-foreground: #dfd7dc;
	--astro-code-background: ##24292E;


	--astro-code-token-comment: #7f848e;
	--astro-code-token-constant: #d19a66;
	--astro-code-token-string: #98c379;
	--astro-code-token-parameter: #abb2bf;
	--astro-code-token-punctuation: #abb2bf;
	--astro-code-token-link: #61afef;
	--astro-code-token-string-expression: #D77583;
	--astro-code-token-function: #61afef;
	--astro-code-token-keyword: #D77583;

}


/* Behavour */

html,
body {
  touch-action: manipulation;
}



html {
  	scroll-behavior: smooth;
}


body {
	font-family: 'IBM Plex Sans';
	font-weight: 400;
	font-style: normal;

	font-size: 1.8vh;
	line-height: 1.7;


	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-size: 100% 600px;
	background-color: black;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--gray-dark);

}

body.no-scroll {
		overflow: hidden;
}



main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'IBM Plex Sans';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;

	margin: 0 0 0.0 0;
	color: var(--black);
	line-height: 1.2;
}


h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}


strong,
b {
	font-weight: 700;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--accent);
}

p {
	margin-bottom: 1em;
	text-align: justify;

}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	-webkit-user-drag: none;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

code {
	padding: 3px 7px;
	background-color: var(--gray);
	border-radius: 2px;
	color: var(--accent);

}

pre {
	padding: 1.5em;
	border-radius: 10px;
	font-size: 0.9rem;
}

pre.astro-code span[style*="--astro-code-token-comment"] {
	font-style: italic;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1em;
}


hr {
	border: none;
	border-top: 2px dashed var(--gray);
}

@media (orientation: portrait), (max-aspect-ratio: 9/16) {
	body {
		font-size: 2vh;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


