---
// ArrowButton.astro
import ScrollDownArrow from '../../assets/icons/AS_DownArrow.svg';

interface Props {
    heightVh?: number;
	angle?: number;
    variant?: 'enabled' | 'glow' | 'disabled';
}

const {heightVh = 3.2, angle = 0, variant = 'enabled'} = Astro.props;

---


<div class={`arrow-btn ${variant}`} style={`--height-vh: ${heightVh}vh; --angle: ${angle}deg;`}>
    <div class="icon-wrapper">
        <img src={ScrollDownArrow.src} alt="" />
    </div>
</div>

<style>
    .arrow-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;


        cursor: pointer;
        transition: filter 0.2s ease;
        transform: rotate(var(--angle));
        
    }

    .icon-wrapper {
        display: contents;
        
    }

    .arrow-btn img {
        width: auto;
        height: var(--height-vh);
        display: block;
    }



    /* --------------------- STATES ---------------------*/

    /* active */
    .arrow-btn.enabled {
        filter: none;
        opacity: 1;
    }

    /* glow state */
    .arrow-btn.glow {
        filter: drop-shadow(0 0 10px var(--color-primary-glow));
    }

    /* disabled state */
    .arrow-btn.disabled {
        opacity: 0.3;
        filter: brightness(80%);
        pointer-events: none;
    }

    .arrow-btn.hidden {
        opacity: 0;
        pointer-events: none;
    }


</style>