---
import { Image } from 'astro:assets';

interface Props {
	thumbnail?: ImageMetadata | null;
	title: string;
	width?: number;
	height?: number;
}

const { thumbnail, title, width = 820, height = 250 } = Astro.props;
---

<div class="hero-banner">
	{thumbnail && (
		<Image {width} {height} src={thumbnail} alt="" class="hero-banner-image" />
	)}
	<div class="hero-banner-content">
		<h2 class="hero-banner-title">{title}</h2>
	</div>
	
</div>

<style>
	.hero-banner {
		position: relative;
		width: 100%;
		height: 13vh;
		overflow: hidden;
	}

	.hero-banner-image {
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 0;
		filter: brightness(0.8) blur(1px);
		transform: scale(1.1);
	}

	.hero-banner-content {
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.55) 0%,
			rgba(0, 0, 0, 0.35) 50%,
			rgba(0, 0, 0, 0.55) 100%
		);
	}

	.hero-banner-title {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #e0c9d0;
		mix-blend-mode: screen;
		z-index: 1;

		left: 50%;
		top: 50%;

		transform: translate(-50%,-50%);
		transform-origin: center;
		
		font-size: 4vh;
	}
</style>