---
import SocialLinks from '../components/props/SocialLinks.astro';
---

<footer>
	<div class="footer-social">
		<SocialLinks orientation="horizontal"/>
	</div>
</footer>


<style>
	footer {
		bottom: 0;
		right: 0;
		width: 100%;
		position: fixed;
		z-index: 1000;
		background: linear-gradient(transparent, rgba(23, 15, 21, 0.865));
		text-align: center;

		padding-bottom: calc(0.5em + env(safe-area-inset-bottom));
		padding-top: 0em;
		padding-left: 1em;
		padding-right: 1em;

	}

	@media (orientation: portrait), (max-aspect-ratio: 9/16) {
		footer {
			background: transparent;
		}

		.footer-social {
			display: none;
		}
	}

</style>
