---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={['nav-link', { active: isActive }]} {...props}>
	<slot />
</a>


<style>
	.nav-link {
		display: inline-block;
		text-decoration: none;
		font-family: Roboto-Light;
		font-weight: 100;
		font-size: 16pt;
		color: #EAE5E8;
		padding: 0.5em 1.3em;
		user-select: none;
		
	}

	.nav-link:hover {
		color: #C33F6A;
		font-weight: 400;
	}
</style>
