---
import Logo from './Logo.astro';
import HeaderLink from './HeaderLink.astro';
import SocialLinks from '../components/props/SocialLinks.astro';

---
<header>
	<nav>
		<Logo />
		<a class="hamburger" aria-label="Menu">☰</a>
		<div class="navigator-pages">
			<div class="menu-logo">
                <Logo/>
            </div>
			<a class="menu-close">✕</a>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/work">Work</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>

			<div class="menu-social">
				<SocialLinks orientation="horizontal" size={30} gap={0.5}/>
			</div>
			
		</div>
	</nav>
</header>


<style>
	header {
		position: fixed;
		width: 100vw;
		height: 18vh;
		top: 0;
		z-index: 1000;
		opacity: 96%;
	}


	nav {
		display: flex;
		align-items: top;
		justify-content: space-between;
		padding-right: 0.5em;
	}

	.hamburger  { display: none; }
	.menu-close { display: none; }
	.menu-logo { display: none;	}
	.menu-social { display: none; }


	/* -------------------------------------------------------------- */ 
	/* ------------------- PHONE MODIFICATIONS ---------------------- */ 
	/* -------------------------------------------------------------- */ 

	@media (max-width: 768px) {


		.hamburger { 
			position: absolute;
			display: block;
			background: none;
			color: white;
			border: none;
			font-size: 30px;
			top: 5.5%;
			right: 3%;	
		}

		.menu-close { 
			display: block; 
			background: none;
			border: none;
			color: white;
			font-size: 30px;
			position: absolute;
			top: 1.6%;
			right: 3%; /*Probably change to 2.5 when we take the desktop scroll?*/
		}
		
		.navigator-pages {
			display: none; /* Hidden by default on mobile */
			position: fixed;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background: #181317;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.navigator-pages a {
			font-size: 1.8rem; /* Makes links bigger */
		}

		.navigator-pages.is-open { display: flex; }
		.menu-logo { display: flex; }
		.menu-social { display: flex; }
		
	}

	


</style>


<script>


  	window.addEventListener('scroll', () => {
		const header = document.querySelector('header');
		if (header){
			if (window.scrollY > 50) {
				header.classList.add('scrolled');
			} else {
				header.classList.remove('scrolled');
			}
		}
  	});


	const hamburger = document.querySelector('.hamburger');
	const closeBTN = document.querySelector('.menu-close');
    const navPages = document.querySelector('.navigator-pages');

	if (hamburger && closeBTN && navPages) {
		hamburger.addEventListener('click', () => {
			navPages.classList.add('is-open');
			document.body.style.overflow = 'hidden'; // Stop scrolling
		});

		closeBTN.addEventListener('click', () => {
			navPages.classList.remove('is-open');
			document.body.style.overflow = ''; // Re-enable scrolling
		});

		const links = navPages.querySelectorAll('a');
	
		links.forEach(link => {
			link.addEventListener('click', () => {
				navPages.classList.remove('is-open');
				document.body.style.overflow = '';
			});
		});
	}



</script>