---
import { SITE_TITLE } from '../consts';
---
<a href="/" class="site-logo">
    {SITE_TITLE}
</a>

<style>
    .site-logo {
		text-decoration: none;
        color: #f1eaec; 
        font-family: 'SandorTrial', sans-serif;
        font-weight: 400;
        font-size: min(0.07 * 90vw, calc(0.07 * 90vh));
        transition: font-size 0.3s ease; /* Smooth transition */
        margin-left: 0.5em;
        margin-top: 0.05em;
		
	}
    .site-logo:hover {
		color: #C33F6A;
		font-weight: 300;
	}
    :global(header.scrolled) .site-logo {
        font-size: min(0.05 * 90vw, calc(0.05 * 90vh));
    }

</style>