---
import { SITE_TITLE } from '../consts';
---
<a href="/" class="site-logo">
    {SITE_TITLE}
</a>

<style>
    .site-logo {
		text-decoration: none;
        color: #DEDCDA; 
        font-family: 'SandorTrial', sans-serif;
        font-weight: 400;
        font-size: min(0.06 * 90vw, calc(0.06 * 90vh));
        transition: font-size 0.3s ease; /* Smooth transition */
        margin-left: 0.5em;
        margin-top: 0.05em;
		
	}
    .site-logo:hover {
		color: #C33F6A;
		font-weight: 300;
	}
    :global(header.scrolled) .site-logo {
        font-size: min(0.04 * 90vw, calc(0.04 * 90vh));
        color: #b9b6b9; 
    }


    @media (orientation: portrait), (max-aspect-ratio: 9/16) {
		.site-logo {
			font-size: 31pt;
		}

        :global(header.scrolled) .site-logo {
            font-size: 24pt;
        }
		
	}


</style>